.container{
    border-style: solid;
    border-color: teal;
    border-radius: 25px;
    text-align: center;
    margin-top: 30px !important;
    margin-bottom: 100px !important;
}

p{
    display: inline-block;
    width: 20%;
    margin-left: 15px;
}

.logo-container{
    width: 30px;
    height: 30px;
    float:left;
    margin-top: 25px;
}
.top-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-footer{
    padding-top: 0 !important;
    position:fixed;
    bottom:0;
    width:100%;
    border-top:1px solid lightgray;
}

#saveContactButton{
    justify-content: center;
    margin-top: 30px;
}

.tableTitle{
    padding: 10px;
    font-size: 20px;
}

table{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important;
}

.thCols{
    width: 20%;
}

.input-field{
    width: 60% !important;
    display:inline-block;
}

.waves-effect {
    margin: 20px 0px !important;
}

.row{
    margin-top: 20px !important;
}

.btn-small{
    height: 25px !important;
    line-height: 25px !important;
    border: 1px solid black !important;
    background-color: white !important;
    padding: 0 8px !important;
}

i.tiny{
    color: lightgray;
}

.form-group{
    width: 20% !important;
    margin-left:15px;
    display:inline-block;
}

span{
    cursor: pointer
}

span.clickable-check-icon > i{
    color: teal;
}

span.clickable-add-icon > i{
    display: block;
    text-align: center;
    margin-top: 10px;
}

input:not([type]){
    height: 1.3rem !important;
    border-bottom: 0 !important;
    padding: 2px !important;
}

.radio-fields{
    display: inline-block;
    margin-right: 30px;
}

label{
    margin-right: 10px;
}

#last_name > input, #first_name > input{
    width: 80%;
}

